html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  background-image: linear-gradient(18deg, rgba(164, 213, 204, 0.250) 0%, rgba(241,241,255, 0.250) 51%, rgba(255,203,218, 0.250) 100%), url('../images/lowpoly.png');
  }

}