.container {
  padding: 0 2rem;
  margin: 40 auto;
}

.main {
  min-height: 100vh;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 700px;
}

.nav {
  position: sticky;
  top: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: rgba(34, 12, 32, 0.925);
  border-radius: 50px;
  max-width: 1000px;
  margin: 20px auto;
  z-index: 10;
}

.nav a{
  display: inline-block;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  font-size: large;
}

.nav a:hover{
  background-color: rgba(34, 12, 32, 0.884);
}

.box {
  text-align: center;
  color:#fac0ce;
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  background-image: linear-gradient(189deg, rgba(43, 15, 40, 0.801) 0%, rgba(78, 31, 55, 0.801) 100%, rgba(46, 25, 43, 0.507) 100%), url('../public/images/pattern.png');
  border-radius: 20px;
  min-height: 300px;
  min-width: 300px;
  text-align: center;
  padding: 10px;
  position: relative;
  top: 20px;
}

.ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.footer {
  color:#571a29;
  text-align: center;
  position: relative;
  top: 1px;
  margin: 0 auto;
  display: flex;
  flex: 1;
  padding: 10px;
  border-top: 1px solid #571a29;
  justify-content: center;
  align-items: center;
}

.footer2{
  color:#571a29;
  text-align: center;
  position: relative;
  top: 1px;
  margin: 0 auto;
  display: flex;
  flex: 1;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url("../public/images/lowpoly.png");
}