.nav {
  position: sticky;
  top: 0px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #73414c;
  border-radius: 10px;
  max-width: 700px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  z-index: 10;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.nav a{
  display: inline-block;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  font-size: large;
  color: #f5c0d2;
}

.nav a:hover{
  background-color: #fc85a260;
}

.ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  text-align: center;
}

.ulTos {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  text-align: left;
}


.effect1 {
  overflow: hidden;
}

.footer {
  position: relative;
  top: 1px;
  margin: 0 auto;
  display: flex;
  flex: 1;
  border-top: 1px solid #571a2986;
  justify-content: center;
  align-items: center;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url("../public/images/lowpoly.png");
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.galleryImage {
  position: relative;
  display: block;
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin: auto;
}

.modal {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  background-color: #0f0f0fbb;
  border-radius: 30px;
  z-index: 11;
}

.overlay {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  background-color: rgba(0, 0, 0, 0.137);
  z-index: 11;
}

.button {
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 40%;
}

.buttonTos {
  border-radius: 10px;
  background-color: #52202dcc;
  border-color: #561a2986;
  border-width: 2px;
  border-style: double;
  margin-bottom: 20px;
  margin-top: 10px;
}

.price {
  align-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}