.container {
  padding: 0 2rem;
  margin: 40 auto;
}

.main {
  min-height: 100vh;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 700px;
}

.footer {
  display: flex;
  flex: 1;
  padding: 10px;
  border-top: 1px solid #571a29;
  justify-content: center;
  align-items: center;
}

.box {
  text-align: center;
  color:#fac0ce;
}

.box {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  background-image: linear-gradient(189deg, rgba(43, 15, 40, 0.801) 0%, rgba(78, 31, 55, 0.801) 100%, rgba(46, 25, 43, 0.507) 100%), url('../images/pattern.png');
  border-radius: 20px;
  min-height: 300px;
  min-width: 300px;
  text-align: center;
  padding: 10px;
}


.footer {
  border-color: rgb(155, 57, 90);
  color:#571a29;
}

.nav a{
  display: inline-block;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}

.nav a:hover{
  background-color: rgba(34, 12, 32, 0.863);
}

.nav {
  position: sticky;
  top: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: rgba(34, 12, 32, 0.925);
  border-radius: 50px;
  margin: 20px auto;
}

.ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}